.link{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.link h4{
    font-size: 30px;
    font-weight: 400;
    color: blueviolet;
}
.nav-links{
    margin-top: 45px;
}
.nav-links a{
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 700;
    color: blueviolet;
}